/* body {
	margin-left: auto;
	margin-right: auto;
	max-width: 650px;
	font-size: 105%;
	line-height: 1.9;
} */

.blog-title {
	margin-bottom: 35px;
	border-bottom: thick solid yellow;
}

.blog-meta {
	font-size: 95%;
	margin-bottom: 20px;
	color: gainsboro;
	line-height: 1.9;
}

.blog-body {
	font-size: 105%;
	line-height: 1.9;
}

.blog-body > ul > li > p {
	line-height: 1;
	/* margin-bottom: 0 !important; */
}


.blog-body.code {
	line-height: 1.6;
	font-size: 110%;
}

.blog-header {
	margin-top: 3rem;
	margin-bottom: 0.5rem;
	font-weight: bold;
}

.blog-header:hover {
    color: yellow;
	text-decoration: underline;
	cursor: pointer;
}

.blog-tag {
	color: white;
	display: inline-block;
	border-radius: 4px;
	background-color: #454545;
	font-size: 85%;
	font-family: monospace;
	box-shadow: #121212 2px 2px;

	/* .no-select */
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.blog-tag:hover {
	color: white;
	text-decoration: none;
}

.blog-tag-x {
	display:inline-block;
	text-align:center;
	width:1.5em;
	height:1.5em;
	border-radius:50%;
	background-color: #5A5A5A;
	font-family: monospace;
}

figure {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	margin-top: 1rem;
}

figcaption {
	text-align: center;
	color: lightgray;
}

.blog-image {
	max-width: 650px;
	/* width: 100%; */
}

/* .blog-title {

} */

/* .blog-meta {
	font-size: 90%;
}

.blog-body {
	font-size: 105%;
	line-height: 1.9;
}

.blog-body.code {
	line-height: 1.6;
	font-size: 110%;
} */

/* p {
} */